html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 79px;
    margin-bottom: 79px;
}

#footer {
    position: absolute;
    bottom: 9;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 1em;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
}

h2 {
    border-bottom: 1px solid #000;
}

.box-button {
    display: inline-block;
}

.table-nav {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.table-nav, .tombol-nav {
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

.table-button {
    height: 40px;
    padding: 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.tombol-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumlah-data, .paging {
    width: 50%;
    height: 50px;
    display: block;
}

.jumlah-data {
    float: left;
    padding-top: 15px;
}

.paging {
    float: right;
    text-align: right;
}

.paging ul.pager, .paging ul.pagination {
    text-align: right;
}

ul.pagination, ul.pager {
    margin-top: 8px;
}